# Koan Elementary

+ Elementaryでは，Pythonを始めたばかりの方にPythonの基礎的な問題をたくさん解いてもらうことを目的にしています．
+ このKoanは [Pythonスタートブック ](https://www.amazon.co.jp/dp/4774142298)を参考に問題を作成しています．
+ 以下の例題のように問題を解いていってください．

In [0]:
# 問題はコメントで書きます．その下にコードを書いて下さい。
# コーディングが必要ではない問題もたまにあります。その時は答えをコメントして下さい。

# 問題例1
# Hello を print してください

print("Hello")

# 問題例２
# python を産んだ人は誰ですか
# 
# グイド・ヴァンロッサム

Hello

## 四則演算など

In [0]:
# 1足す1

In [0]:
# 10割る5

In [0]:
# 余りが4になる演算

In [0]:
# 10の2乗

In [0]:
# 変数x に1を格納

In [0]:
# xに5を足す

In [0]:
# x に10をかける

In [0]:
# x の 10 乗

## 文字列

In [0]:
# 「python」 という文字列を出力

In [0]:
# 「こんにちは」という文字列を出力

In [0]:
# 「python」という文字列をsという変数に格納

In [0]:
# 上記 s を使って sの2番めの文字列を取得

In [0]:
# 上記 s を使って sの後ろから2番めの文字列を取得

In [0]:
# s の文字数を出力して下さい

In [0]:
# t に "ruby" という文字列を格納して下さい

In [0]:
# s と t をつかって，を一つの文字列"pythonruby"にしてください

In [0]:
# print 関数に s と t を渡して文字列"python ruby" を出力して下さい．

## 整数

In [0]:
# x に 100 を y に 500 を格納

In [0]:
# x が整数(int)型であることを確認

In [0]:
# x と y を足し合わせる

## 小数型

In [0]:
# x1 に 0.5 を格納する

In [0]:
# x1 の 型を確認する

## 真偽値

TrueもしくはFalseを返すように記述してください

In [0]:
# x は50以上である事を確認する
x = 100

In [0]:
# 1は0.1より大きいことを確認する

In [0]:
# 1は0.1より大きいことを確認する

## 比較演算子

TrueもしくはFalseを返すように記述してください

In [0]:
# x より y が大きいことを確認する
x = 10 
y = 4

In [0]:
# x より y が小さいことを確認する
x = 10 
y = 40

In [0]:
# x と y が同値であることを確認する
x = 10 
y = 10

In [0]:
# x と y が同値ではないことを確認する
x = 10 
y = 12

In [0]:
# x も y も100以下であることを確認する
x = 10 
y = 12

## 代入演算子

In [0]:
# i に 10 を格納して下さい

In [0]:
# i に 2 を足して 12 にしてください．ただし i = i + 2 以外の書き方で書いてください．

## リスト

In [0]:
# 1から10の整数を含むリストを作成して下さい

In [0]:
# 1から10の整数をリストで表示して下さい
# ただし range 関数を使うこと

In [0]:
# AからG のアルファベットのリストを作成してください。

In [0]:
# AからG のアルファベットのリストを作成してください。
# ただし list 関数を使い，引数は一つだけ渡すこと

In [0]:
# 2つのリストを一つのリスト [1,2,3,4]にしてください

x = [1,2]
y = [3,4]

In [0]:
# 以下の x と y を一つのリスト [1,2,3,4]にしてください。
# ただし リストのメソッド関数を使うこと．

x = [1,2]
y = [3,4]

In [0]:
# 以下の x と yを使って、[1,2,[3,4]] を作成してください
x = [1,2]
y = [3,4]

In [0]:
# 以下の x の 0 番目の要素を5に変更して下さい
x = [1,2,3,4,5]

In [0]:
# 以下の x の最後に 6 を追加して下さい
x = [1,2,3,4,5]

In [0]:
# 以下の x の０番目に 6 を追加して下さい
x = [1,2,3,4,5]

In [0]:
# 以下の x の3番前目に 6 を追加して下さい
x = [1,2,3,4,5]

In [0]:
# 以下の x から4を削除して下さい
x = [1,2,3,4,5]

In [0]:
# リストlの最後 にxを追加して下さい. 
l = [1,2,3]
x = "A"

In [0]:
# list の2番めに要素を追加して下さい. [1,"A", 2,3 ]
l = [1,2,3]
x = "A"

In [0]:
# long_listの要素数を数える
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listの3番目を取り出す
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listの前から5を取得
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listの後ろから5を取得
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listから [10, 11, 12, 13, 14, 15]だけ取得
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listを5つ飛びで取得。つまり，[1, 6, 11, 16, 21, 26, 31, 36, 41, 46]というリストを出力する
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listの各要素に10をたしたリストを返す
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# long_listの各要素に10をたしたリストを返す. ただしリスト内包記を使う．
long_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [0]:
# 以下の xとa を，組み込み関数を使って小さい方から並べ替えて下さい
x = [3, 4, 1, 4, 4, 2, 0, 4, 2, 0]
a = ['Smith', 'Jones', 'Williams', 'Brown', 'Taylor', 'Davies', 'Wilson', 'Evans', 'Thomas', 'Roberts']

In [0]:
# 以下の x と aを， リストオブジェクトのメソッドを使って小さい方から並べ替えて下さい
x = [3, 4, 1, 4, 4, 2, 0, 4, 2, 0]
a = ['Smith', 'Jones', 'Williams', 'Brown', 'Taylor', 'Davies', 'Wilson', 'Evans', 'Thomas', 'Roberts']

In [0]:
# 空のリスト l を作ってください

In [0]:
# l に何かしらの要素を複数追加してください

## 辞書

In [0]:
# キーワードに "A", "B", "C"、値に1,2,3 を持つ辞書を｛｝を使って作成してください

In [0]:
# キーワードに "A", "B", "C"、値に1,2,3 を持つ辞書をdict関数を使って作成してください

In [0]:
# d1にd2を追加して {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6} のような辞書にしてください（順不同でOK）
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'d': 4, 'e': 5, 'f': 6}

In [0]:
#d1から、キーワードだけ取得
d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
#d1から、値だけ取得
d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
#d1から'b'の値を取得
d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
#d1から'b'の値を取得。ただし、辞書のメソッドを使うこと
d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
#d1から'z'の値を取得しようとすると、KeyErrorが出る。このKeyErrorを出さずに、'zは無いよ'というメッセージを出す
d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
#d1に 'b'というキーワードが含まれているか確認
d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
#d1 を、キーと値のタプルのリストに変換する
# dict_items([('a', 1), ('b', 2), ('c', 3)])

d1 = {'a': 1, 'b': 2, 'c': 3}

In [0]:
# 空のリスト classmates を作成する

In [0]:
# 以下のテーブルの各行を辞書型データに書き換えて
# classmates 辞書に追加してください。

name | sex | address
---|---|---
Zoe Thomson|Female| England
Lewis Matthews|Male| England
Stella Illich|Female |New Zealand
Aurelia Aman |Female |Romania

## タプル

In [0]:
# 1,2,3, "ice", "apple" を要素に持つタプル t を作る

In [0]:
# t の3番目の要素を取得

In [0]:
# tの１〜３番の要素を取得

In [0]:
# タプルとリストの違いはなんですか？記述問題ですのでコードは不要です。

In [0]:
# tをリストにしてください

## セット

In [0]:
# 空のセット s を作成

In [0]:
# s に "apple" "orange" "banana" をそれそれ追加

In [0]:
# セットとはなんですか？記述問題ですのでコードは不要です。答えをコメントで書いてください

In [0]:
# l からセット s1 を作成
l = ['W', 'L', 'D', 'I', 'T', 'H', 'J', 'A', 'W', 'E', 'B', 'S', 'A']

In [0]:
# l に A があるか確認

In [0]:
# l に X があるか確認

## 繰り返し

In [0]:
# names を一つずつprint 
names = ['Gretta', 'Lorin', 'Keslie', 'Chandra', 'Matthew', 'Klement', 'Delmer', 'Kordula', 'Obediah', 'Goldia']

In [0]:
# names の インデックス番号と名前を print

In [0]:
# nums を足し合わせる.ただし forと + を使って足し算する。
nums = [63, 47, 22, 73, 1, 3, 2, 65, 51, 26]

In [0]:
# nums の平均を計算
nums = [63, 47, 22, 73, 1, 3, 2, 65, 51, 26]

In [0]:
# 辞書 ids を 一つずつprint
ids = {'Augustine': '6110405175',
 'Chariot': '5146777675',
 'Deena': '2640161407',
 'Helenka': '1478588217',
 'Kaylyn': '2823236899',
 'Kiah': '0754913368',
 'Marleen': '4410465813',
 'Randene': '2826605437',
 'Roscoe': '2004843543',
 'Thurstan': '8284428458'}

In [0]:
# ids の 値だけ取得して平均を出す

In [0]:
# リスト内包期を使って、nums の各要素に100を掛けたリストを返す
nums = [63, 47, 22, 73, 1, 3, 2, 65, 51, 26]

## 条件分岐

In [0]:
# 以下 if 文で記述してください
# x と y を比べて、もし x が大きければ、print(x)、yが大きければ print(y)する
x = 100
y = 200

In [0]:
# 以下 if 文で記述してください
# x, y, z を比べて、一番大きい値を print
x = 100
y = 200
z = 150

In [0]:
# cars リストから、"Mitsubishi" の所有者だけprint 
cars = [{'car': 'Volvo', 'email': 'abert0@nsw.gov.au', 'first_name': 'Anthe'}, {'car': 'Mercury', 'email': 'kloughren1@examiner.com', 'first_name': 'Karna'},
        {'car': 'Mitsubishi', 'email': 'jrenfield2@rambler.ru',  'first_name': 'Johnnie'}, {'car': 'Chevrolet',  'email': 'cbubbings3@google.co.uk', 'first_name': 'Cynthy'},
        {'car': 'Mazda',  'email': 'psafhill4@statcounter.com', 'first_name': 'Pollyanna'}, {'car': 'Mitsubishi', 'email': 'xborrow5@utexas.edu', 'first_name': 'Xylina'},
        {'car': 'Cadillac',  'email': 'tlanegran6@seattletimes.com',  'first_name': 'Toddy'}, {'car': 'Saturn', 'email': 'ltreslove7@ucla.edu', 'first_name': 'Lionello'},
        {'car': 'Audi', 'email': 'ybroomhead8@xing.com', 'first_name': 'Yankee'}, {'car': 'Plymouth', 'email': 'nmattedi9@cdc.gov', 'first_name': 'Nonnah'}]

In [0]:
# aが０より大きい場合はxを、そうではない場合はyを代入した変数ｚを作成してください。ただしコードは一行で書いてください。
a = 10
x = 100
y = 200

In [0]:
# while を使って x が５より小さくなるまで１ずつ引き算してください。５より小さくなった場合は、”Done”とプリントして、プログラムを終了してください
x = 10

In [0]:
# names で、8文字以上の名前であれば"Long Name", 4文字以下であれば"Short Name" とプリントしてください。ただし、名前が'BABA'だった場合、"Stop" とプリントしてプログラムを停止してください。
names = ['Donni', 'Elle', 'Matthaeus', 'Parke', 'Tania', 'Germaine', 'Linnea', 'Annamaria', 'Crissy', 
         'Martina', 'Care', 'Ethan', 'Ambur', 'Stacy', 'Hewet', 'BABA', 'Roxanna', 'Layton', 'Byran', 'Marian', 'Alene']

In [0]:
# xに入っている要素で y を割って余りを出力してください。例外が発生した場合は、例外メッセージを出力して途中でプログラムが終わらないようにしてください。
# 最後まで終わったら、”Done”と出力してください
y = 10 
x = [3, 4, 1, 4, 4, 2, 0, 4, 2, 0]

,
## python に関する知識

以下は python に出てくる言葉についての問題です．

コメントで解答して下さい．もちろんコードを書いて解答したほうが答えやすい場合は，ドンドン書いて下さい

In [0]:
#  python の オブジェクト とは何ですか？

In [0]:
# python の メソッドとは何ですか？

In [0]:
# python の 関数とは何ですか？

In [0]:
# データ型とは何ですか？